# dependencies
node_modules
.pnpm-store

# build output
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vcs
.git
.gitignore

# docker
Dockerfile
.dockerignore


# misc
.DS_Store

# editors
.vscode
.idea


