name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4

      - id: auth
        name: Authenticate with Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: access_token
          project_id: 'humphrey-in-usa'
          workload_identity_provider: 'projects/979490649165/locations/global/workloadIdentityPools/github/providers/my-repo'

      - name: Login to GAR
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Get tag
        id: get-tag
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - id: docker-push-tagged
        name: Tag Docker image and push to Google Artifact Registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
             us-central1-docker.pkg.dev/humphrey-in-usa/aatx:${{ steps.get-tag.outputs.short_ref }}
             us-central1-docker.pkg.dev/humphrey-in-usa/aatx:latest